<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.c282804.excameratest2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <!-- 내 앱에서 만든 URi를 다른 앱에 공개하고자 할때        -->
    <!-- authrities : 자바에서 사용할 식별자 [디바이스에 있는 모든 앱들중에 같은ㅇ ㅣ름이 있으면 안됨 [패키지명을 많이 이용 ]]     -->
    <!-- android:name : Provider 클래스명지정       -->
    <!--android:granUriPermission: Uri제공에 대한  임시 퍼미션      -->
    <!-- android:exported : 이 앱 말고 다른 앱에서는 이 프로바이더를 사용금지-->
        <provider
            android:authorities="com.c282804.excameratest2.provider"
            android:name="androidx.core.content.FileProvider"
            android:granUriPermission="true"
            android:exported="false">

<!--   프로바이더가 공개할 경로 명단 xml등록         -->

            <meta-data
                android:name="android.support.FIlE_PROVIDER_PATHS"
                android:resource="\"/>

        </provider>

    </application>

</manifest>