<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.c282804.ex74bluetoothtest">

    <!--블루투스 사용에 대한 퍼미션 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>


    <!--마시멜로우버전부터 주변장치 탐색할때 Location 퍼미션 필요  -->
    <!-- 서버는 필요없음 .클라이언트가 접속을 위해 자변장치를 찾을때 필욯 ㅐ    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <!--오레오 버전부터 서버로부터 동작하려면 http통신을 허용하도록.. -->

        <activity android:name=".ClientActivity"></activity>
        <activity android:name=".ServerActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>